/*checkboxes zone start*/

/* .checkboxes-zone { */
/*     display: flex; */
/*     height: 40px; */
/*     user-select: none; */
/*     justify-content: center; */
/*     gap: 1vw; */
/*     flex-flow: row nowrap; */
/*     margin-bottom: 10px; */
/* } */

/* .label-for-checkbox { */                                                              
/*     transition: 0.3s; */
/*     cursor: pointer; */
/* } */

/* .checkbox-zone { */
/*     transition: 0.3s; */
/*     display: flex; */
/*     gap: 10px; */
/*     align-items: center; */
/*     text-align: center; */
/*     cursor: pointer; */
/*     padding: 10px; */
/*     border-radius: 10px; */
/* } */

/* .checkbox-zone label { */
/*     font-size: 15px; */
/* } */

/* .clear-both { */
/*     clear: both; */
/* } */

/* .checkbox-zone input { */
/*     height: 20px; */
/*     width: 20px; */
/*     position: relative; */ 
/*     cursor: pointer; */
/*     accent-color: var(--surface-1); */
/* } */

/* @media (hover: hover) { */
/*   .checkbox-zone:hover { */
/*       background-color: var(--surface-1); */
/*       color: var(--alternative-text); */
/*   } */
/* } */

/* @media screen and (max-width: 700px) { */
/*     .checkbox-zone input{ */
/*         height: 30px; */
/*         width: 30px; */
/*     } */
/*     .checkbox-zone{ */
/*         justify-content: left; */
/*         width: fit-content; */
/*         margin: auto; */
/*     } */
/*     .checkboxes-zone{ */
/*         flex-flow: column nowrap; */
/*         justify-content: center; */
/*         height: 150px; */
/*         width: 100%; */
/*         margin: auto; */
/*     } */
/* } */


/* .settings-checkboxes-zone { */
/*   display: flex; */
/*   flex-flow: column nowrap; */
/*   gap: 10px; */
/* } */

/* .settings-checkbox-zone { */
/*   display: flex; */
/*   align-items: center; */
/*   width: 100%; */
/*   transition: 0.3s; */
/* } */

/* .settings-checkbox-zone label { */
/*   display: flex; */
/*   width: 100%; */
/*   font-size: 13pt; */
/* } */

/* .settings-checkbox-zone input { */
/*   height: 18px; */
/*   width: 18px; */
/*   display: flex; */
/*   justify-content: flex-end; */
/*   align-items: center; */
/*   accent-color: var(--surface-1); */
/*   cursor: pointer; */
/* } */

.checkboxes-zone {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: fit-content;
  gap: 20px;
}

@media(max-width: 600px) {
  .checkboxes-zone {
    margin: auto;
    flex-flow: column nowrap;
  }
}

.checkbox-zone {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-zone input {
  /* position: absolute; */
  display: flex;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-zone input ~ .checkmark {
  background-color: var(--supplement-background);
  border-radius: 3px;
  transition: .2s;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

@media(hover: hover) {
  .checkbox-zone:hover input ~ .checkmark {
    background-color: var(--surface-1);
  }
}

.checkbox-zone input:checked ~ .checkmark {
  background-color: var(--surface-1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-zone input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-zone .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* NEW */
.settings-checkboxes-zone {
  display: flex;
  flex-flow: column wrap;
}

.settings-checkbox-zone {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.settings-checkbox-zone input {
  /* position: absolute; */
  display: flex;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.settings-checkbox-zone input ~ .checkmark {
  background-color: var(--supplement-background);
  border-radius: 3px;
  transition: .2s;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

@media(hover: hover) {
  .settings-checkbox-zone:hover input ~ .checkmark {
    background-color: var(--surface-1);
  }
}

.settings-checkbox-zone input:checked ~ .checkmark {
  background-color: var(--surface-1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.settings-checkbox-zone input:checked ~ .checkmark:after {
  display: block;
}

.settings-checkbox-zone .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
