.default {
    --surface-0: #5144a2;
    --surface-1: #6659b8;
    --primary-background: #FFF;
    --primary-text: #15191F;
    --supplement-background: #E9E9E9;
    --substituted-hour: #5144a2;
    --alternative-text: #F1F1F1;
    --alternative-background: #15191F;
    
    --grade-1: #40a02b;
    --grade-2: #1e66f5;
    --grade-3: #df8e1d;
    --grade-4: #fe640b;
    --grade-5: #d20f39;
}

.dark {
    --surface-0: #5144a2;
    --surface-1: #6659b8;
    --primary-background: #15191F;
    --primary-text: #FFF;
    --supplement-background: hsl(216, 19%, 18%);
    --substituted-hour: #5144a2;
    --alternative-text: white;
    --alternative-background: #15191F;

    --grade-1: #a6da95;
    --grade-2: #8aadf4;
    --grade-3: #eed49f;
    --grade-4: #f5a97f;
    --grade-5: #ed8796;
}

.banana {
    --surface-0: #ffe135;
    --surface-1: #ffec82;
    --primary-background: #FFF;
    --primary-text: #15191F;
    --supplement-background: #E9E9E9;
    --substituted-hour: #ffe135;
    --alternative-text: #15191F;
    --alternative-background: #F1F1F1;

    --grade-1: #40a02b;
    --grade-2: #1e66f5;
    --grade-3: #df8e1d;
    --grade-4: #fe640b;
    --grade-5: #d20f39;
}

.catppuccin-latte {
    --surface-0: #5144a2;
    --surface-1: #6659b8;
    --primary-background: #eff1f5;
    --primary-text: #4c4f69;
    --supplement-background: #ccd0da;
    --substituted-hour: #5144a2;
    --alternative-text: #F1F1F1;
    --alternative-background: #15191F;
    
    --grade-1: #40a02b;
    --grade-2: #1e66f5;
    --grade-3: #df8e1d;
    --grade-4: #fe640b;
    --grade-5: #d20f39;
}

.catppucin-frappe {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #303446;
    --primary-text: #c6d0f5;
    --supplement-background: #414559;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #c6d0f5;
    --alternative-background: #15191F;

    --grade-1: #a6d189;
    --grade-2: #8caaee;
    --grade-3: #e5c890;
    --grade-4: #ef9f76;
    --grade-5: #e78284;
}

.catppucin-macchiato {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #24273a;
    --primary-text: #cad3f5;
    --supplement-background: #3e435b;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cad3f5;
    --alternative-background: #15191F;

    --grade-1: #a6da95;
    --grade-2: #8aadf4;
    --grade-3: #eed49f;
    --grade-4: #f5a97f;
    --grade-5: #ed8796;
}

.catppucin-mocha {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #1e1e2e;
    --primary-text: #cdd6f4;
    --supplement-background: #313244;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #a6e3a1;
    --grade-2: #89b4fa;
    --grade-3: #f9e2af;
    --grade-4: #fab387;
    --grade-5: #f38ba8;
}

.gruvbox-dark {
    --surface-0: #b16286;
    --surface-1: #d3869b;
    --primary-background: #282828;
    --primary-text: #ebdbb2;
    --supplement-background: 	#3c3836;
    --substituted-hour: #b16286;
    --alternative-text: #fbf1c7;
    --alternative-background: #15191F;

    --grade-1: #98971a;
    --grade-2: #458588;
    --grade-3: #d79921;
    --grade-4: #fe8019;
    --grade-5: #cc241d;
}

.gruvbox-light {
    --surface-0: #8f3f71;
    --surface-1: #b16286;
    --primary-background: #fbf1c7;
    --primary-text: #3c3836;
    --supplement-background: #ebdbb2;
    --substituted-hour: #b16286;
    --alternative-text: #282828;
    --alternative-background: #15191F;

    --grade-1: #98971a;
    --grade-2: #458588;
    --grade-3: #d79921;
    --grade-4: #af3a03;
    --grade-5: #cc241d;
}

.solarized-dark {
    --surface-0: hsl(237, 43%, 60%);
    --surface-1: hsl(237, 43%, 55%);
    --primary-background: #002b36;
    --primary-text: #fdf6e3;
    --supplement-background: #073642;
    --substituted-hour: hsl(237, 43%, 50%);
    --alternative-text: #fbf1c7;
    --alternative-background: #15191F;

    --grade-1: #859900;
    --grade-2: #268bd2;
    --grade-3: #b58900;
    --grade-4: #cb4b16;
    --grade-5: #dc322f;
}

.solarized-light {
    --surface-0: hsl(237, 43%, 60%);
    --surface-1: hsl(237, 43%, 55%);
    --primary-background: #fdf6e3;
    --primary-text: #002b36;
    --supplement-background: #eee8d5;
    --substituted-hour: hsl(237, 43%, 45%);
    --alternative-text: #fbf1c7;
    --alternative-background: #15191F;

    --grade-1: #859900;
    --grade-2: #268bd2;
    --grade-3: #b58900;
    --grade-4: #cb4b16;
    --grade-5: #dc322f;
}

.dracula {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #282a36;
    --primary-text: #f8f8f2;
    --supplement-background: #44475a;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #50fa7b;
    --grade-2: #8be9fd;
    --grade-3: #f1fa8c;
    --grade-4: #ffb86c;
    --grade-5: #ff5555;
}

.nord {
    --surface-0: #81a1c1;
    --surface-1: #98b3cd;
    --primary-background: #2e3440;
    --primary-text: #eceff4;
    --supplement-background: #3b4252;
    --substituted-hour: #81a1c1;
    --alternative-text: #2e3440;
    --alternative-background: #15191F;

    --grade-1: #a3be8c;
    --grade-2: #81a1c1;
    --grade-3: #ebcb8b;
    --grade-4: #d08770;
    --grade-5: #bf616a;
}

.nord-light {
    --surface-0: #81a1c1;
    --surface-1: #98b3cd;
    --primary-background: #d8dee9;
    --primary-text: #2e3440;
    --supplement-background: #e5e9f0;
    --substituted-hour: #81a1c1;
    --alternative-text: #2e3440;
    --alternative-background: #15191F;

    --grade-1: #a3be8c;
    --grade-2: #81a1c1;
    --grade-3: #ebcb8b;
    --grade-4: #d08770;
    --grade-5: #bf616a;
}

.sonokai-default {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #2c2e34;
    --primary-text: #e2e2e3;
    --supplement-background: #33353f;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #9ed072;
    --grade-2: #76cce0;
    --grade-3: #e7c664;
    --grade-4: #f39660;
    --grade-5: #fc5d7c;
}

.sonokai-atlantis {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #2a2f38;
    --primary-text: #e1e3e4;
    --supplement-background: #333846;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #9dd274;
    --grade-2: #72cce8;
    --grade-3: #eacb64;
    --grade-4: #f69c5e;
    --grade-5: #ff6578;
}

.sonokai-andromeda {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #2b2d3a;
    --primary-text: #e1e3e4;
    --supplement-background: #333648;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #9ed06c;
    --grade-2: #6dcae8;
    --grade-3: #edc763;
    --grade-4: #f89860;
    --grade-5: #fb617e;
}

.sonokai-shusia {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #2d2a2e;
    --primary-text: #e3e1e4;
    --supplement-background: #37343a;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #9ecd6f;
    --grade-2: #7accd7;
    --grade-3: #e5c463;
    --grade-4: #ef9062;
    --grade-5: #f85e84;
}

.sonokai-maia {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #273136;
    --primary-text: #e1e2e3;
    --supplement-background: #313b42;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #9cd57b;
    --grade-2: #78cee9;
    --grade-3: #e3d367;
    --grade-4: #f3a96a;
    --grade-5: #f76c7c;
}

.sonokai-espresso {
    --surface-0: hsl(248, 41%, 42%);
    --surface-1: hsl(248, 41%, 50%);
    --primary-background: #312c2b;
    --primary-text: #e4e3e1;
    --supplement-background: #393230;
    --substituted-hour: hsl(248, 41%, 38%);
    --alternative-text: #cdd6f4;
    --alternative-background: #15191F;

    --grade-1: #a6cd77;
    --grade-2: #81d0c9;
    --grade-3: #f0c66f;
    --grade-4: #f08d71;
    --grade-5: #f86882;
}
