.homework-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--supplement-background);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
}

.homework-subject-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.homework-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

#homework-title {
  font-weight: bold;
  font-size: 20pt;
  text-decoration: underline;
}

#homework-subject {
  font-weight: bold;
}

#attachments {
  margin-top: 20px;
}

.attachment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
  background-color: var(--grade-1);
  padding: 5px;
  border-radius: 10px;
  color: var(--primary-background)
}

.attachment button {
  display: flex;
  border: none;
  background-color: transparent; 
  transition: .2s;
  border-radius: 5px;
  cursor: pointer;
}

@media(hover: hover) {
  .attachment button:hover {
    background-color: var(--primary-text); 
  }
}

.attachment button:active {
  background-color: var(--grade-2);
}
