.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.page-info-wrapper svg {
  float: left;
  margin-right: 15px;
  color: var(--text-color);
}

.page-info-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loading-page-info-data{
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#page-info-container {
  background-color: var(--supplement-background);
  border-radius: 15px;
  padding: 20px;
}

.info-box-date {
    text-align: right;
    /*min-width: 80px; to disable date wrapping, has some issues*/
}

.page-info {
  font-weight: bold;
  font-size: 15pt;
}

.page-info span {
  font-weight: normal;
  font-size: 15pt;
}

#grade-result{
  font-weight: bold;
}

@media(max-width: 600px) {
  #page-info-container{
    width: 100%;
  }
}


@media(min-width: 600px) {
  .page-info {
    font-weight: bold;
    font-size: 18pt;
  }
  #page-info-container{
    min-width: 500px;
  }

  .page-info span {
    font-weight: normal;
    font-size: 18pt;
  }
}


@media(min-width: 1300px) {
  .page-info {
    font-weight: bold;
    font-size: 20pt;
  }
}
