.message-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--supplement-background);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

.message-author-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-flow: column wrap;
}

.message-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

#message-title {
  font-weight: bold;
  font-size: 20pt;
  text-decoration: underline;
}

#message-author {
  font-weight: bold;
}

#message-content {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-flow: column nowrap;
}

#message-content p {
  width: auto;
}

#message-attachment-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
  visibility: hidden; /* visibility hidden by default */
  background-color: var(--grade-3);
  color: var(--primary-background);
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

@media(max-width: 550px) {
  #message-attachment-error {
    width: 300px;
  }
}

#message-attachment-error svg {
  color: var(--supplement-background);
}
