.settings-content {
  padding-left: 20%;
  padding-right: 20%;
}

.settings-category-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

h1 {
  font-size: 30pt;
  background: linear-gradient(60deg, var(--grade-2), var(--grade-1));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 20pt;
  padding-top: 10px;
  text-decoration: underline;
}

@media(max-width: 900px) {
  .settings-content {
    padding: 0px 10px;
  }

  h1 {
    font-size: 25pt;
  }
}

hr {
  border: 0.5px solid var(--primary-text);
  margin-bottom: 10px;
}

/*radio buttons*/

.theme-selector-theme {
  font-size: 15pt;
  accent-color: var(--surface-0);
  cursor: pointer;
  margin: 0px;
}

.theme-selector-theme-input {
  height: 25px;
  width: 25px;
  cursor: pointer;
  accent-color: var(--surface-0);
  margin-left: 20px;
}

.theme-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.theme-untested {
  display: none;
}

.settings-wrapper button {
  background-color: var(--supplement-background);
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

.settings-stateful-button {
  margin-top: 10px;
  margin-bottom: -10px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
}

.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--supplement-background);
  border: none;
  color: var(--text-color);
  border-radius: 10px;
  font-size: 15pt;
  padding: 5px;
  cursor: pointer;
  transition: .2s;
}

#blank-button {
  width: 200px;
}

.button-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

@media(hover: hover) {
  .settings-button:hover {
    background-color: var(--surface-1);
  }
}

#administrator-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grade-1);
  color: var(--primary-background);
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

#settings-show-untested button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 15pt;
  transition: .2s;
}

@media(hover: hover) {
  #settings-show-untested button:hover {
    background-color: var(--surface-0)
  }
}

/* .label-for-checkbox { */
/*   transition: all .5s; */
/* } */

/* body { */
/*   transition: all .5s; */
/* } */

/* .header-upper { */
/*   transition: background-color .5s; */
/* } */

/* .header-icon img { */
/*   transition: all .5s; */
/* } */

/* .header-upper li { */
/*   transition: all .5s; */
/* } */

/* .navbar { */
/*   transition: all .5s; */
/* } */

/* .nav-menu { */
/*   transition: background-color .5s; */
/*   transition: 0.3s; */
/* } */

/* .inner-footer { */
/*   transition: all .5s; */
/* } */
